a {
  color: black;
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 850px) {
  .board-member-list {
    display: flex;
    flex-direction: row;
  }

  .card-column {
    margin-left: 2em;
    margin-right: 2em;
  }
}
