main {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  text-align: center;
  padding: 35px;
}

/* main > p {
  margin-left: 1rem;
  margin-right: 1rem;
} */

main > h1 {
  color: #9d7ad2;
  margin: 0;
}

a {
  text-decoration: none;
}

main > img {
  max-width: 100%;
}
